block header
  header.header
    .header__top.container
      .logo.logo--header
        a(href="javascript:void(0)")
          img(src="./dist/img/icons/logo.png", alt="Эколом")
        span Ежедневно с 9:00 до 21:00
      label.header__search
        input(type="text" placeholder="Поиск по сайту").btn.btn--input.input.input--search
      a(href="javascript:void(0)").ancor.link.link--green Калькулятор
      ul.socials
        li.socials__item
          a(href="javascript:void(0)" target="_blank")
            i.icon.icon--whatsapp
        li.socials__item
          a(href="javascript:void(0)" target="_blank")
            i.icon.icon--tg
        li.socials__item
          a(href="javascript:void(0)" target="_blank")
            i.icon.icon--viber
      .header__contact
        a(href="tel:+78129268833").header-tel +7 (812) 926-88-33
        a(href="mailto:info@eco-lom.ru").header-mail info@eco-lom.ru
      button.btn.btn--transparent.jsOpenModal Перезвоните мне
    .hr
    nav.header__nav.container
      ul.nav-main
        li.nav-main__item
          a(href="javascript:void(0)") лотерея
        li.nav-main__item
          a(href="javascript:void(0)") металлолом
        li.nav-main__item
          a(href="javascript:void(0)") услуги
        li.nav-main__item
          a(href="javascript:void(0)") цены
        li.nav-main__item
          a(href="javascript:void(0)") пункты приема
        li.nav-main__item
          a(href="javascript:void(0)") о компании
        li.nav-main__item
          a(href="javascript:void(0)") контакты