extends ../base/layout

block header
  include ../blocks/header
block main
  main.grid
    include ../blocks/index/top-banner
    include ../blocks/index/advantages
    include ../blocks/index/index-seo
  include ../blocks/footer

  br
  br
  br
  br
  br

block scripts
  include ../base/scripts