// Core
@import "../../node_modules/normalize.css/normalize.css"
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')
@import "core/variables.styl"
@import "core/mixins.styl"
@import "core/fonts.styl"

// Globals
@import "common/global.styl"

// Commons modules
@import "common/base.styl"
@import "common/common.styl"

// Modules
@import "blocks/header.styl"
@import "blocks/footer.styl"
@import "blocks/top-banner.styl"