@import '../core/variables.styl';
@import '../core/mixins.styl';

.sr
  sr()

.container
  position relative
  container()

.hr
  width 100%
  height 1px
  background $border

h1
  font-weight 600
  font-size 48px
  line-height 65px
  letter-spacing: .3px
  margin 0

h2
  font-weight 600
  font-size 42px
  line-height 57px
  margin 0

a
  color: $black

p
  line-height 22px
  margin-bottom 22px

.logo
  width 196px
  &--header
    span
      font-size: 12px
      line-height 16.34px
      display block
      letter-spacing: .1px

.btn
  display flex
  justify-content center
  align-items center
  padding 12px 32px
  height 46px
  width auto
  border-radius: 100px
  cursor pointer
  transition: $fast
  line-height 20px
  &--transparent
    font-weight 600
    color: $orange
    border: 1px solid $orange
    background transparent
    &:hover
      background $orange
      color: #fff
  &--orange
    font-weight 600
    color:#fff
    border: 1px solid $orange
    background $orange
    &:hover
      background transparent
      color: $orange

.input
  border: 0
  background $orangeBg
  color $orange
  &::placeholder
    color $orange
    font-weight 600
    transition: $fast
  &:hover
    &::placeholder
      opacity .75
  &:focus,
  &:active
    &::placeholder
      opacity 0
  &--search
    padding-left 64px
    padding-right 15px
    width 215px
    background url(../img/icons/search.svg) $orangeBg 31px center no-repeat

.link
  font-weight 600
  position relative
  transition: $fast
  &::after
    content: ''
    display block
    position absolute
    left 0
    bottom 5px
    transform-origin: 100% 100%
    transform: scaleX(1)
    width 100%
    height 1px
    transition: $fast
  &:hover
    &::after
      transform: scaleX(0)
  &--green
    color: $green
    &::after
      background $green

ul
  list-style: none
  padding 0

.socials
  display flex
  justify-content center
  align-items center
  &__item
    a
      width 30px
      height 30px
      background $greenBg
      border-radius: 100%
      display flex
      justify-content center
      align-items center
      margin 0 6px
      &:hover
        .icon
          transform: scale(1.3) rotate(-10deg)

.icon
  width 16px
  background-position center
  background-repeat no-repeat
  background-size cover
  transition: $fast
  &--whatsapp
    height 16px
    background url(../img/icons/social/whatsapp.svg)
  &--tg
    height 14px
    background url(../img/icons/social/tg.svg)
  &--viber
    height 18px
    background url(../img/icons/social/viber.svg)

.advantages
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 1fr
  gap: 24px 24px
  grid-template-areas:
    ". . ."
  padding-top 62px
  padding-bottom 100px

.advantage
  padding 20px 30px
  border-radius: 12px
  border: 1px solid #E8E8E8
  &__title
    display flex
    align-items center
    font-weight 600
    font-size 20px
    margin-bottom 12px
  &__descr
    width 100%
  &__icon
    width 52px
    height 52px
    background $green
    padding 14px
    border-radius: 50%
    margin-right 12px

.seo-text
  display flex
  justify-content space-between
  padding-top 42px
  padding-bottom 42px
  border-top: 2px solid $orange
  border-bottom: 2px solid $orange
  &__title
    width 440px
  &__descr
    width 746px