section.advantages.container
  article.advantage
    .advantage__title
      .advantage__icon
        img(src="./dist/img/icons/pay.svg", alt="pay")
      span Моментальный расчет
    .advantage__descr Мгновенная оплата по безналичному расчету на месте приёма
  article.advantage
    .advantage__title
      .advantage__icon
        img(src="./dist/img/icons/chart.svg", alt="pay")
      span Высокая цена закупки
    .advantage__descr Максимальная высокая цена закупки лома на рынке Санкт-Петербурга
  article.advantage
    .advantage__title
      .advantage__icon
        img(src="./dist/img/icons/delivery.svg", alt="pay")
      span Собственный автопарк
    .advantage__descr Свой автопарк, в составе которого более 30 единиц спецтехники