section.seo-text.container
  h2.h2.seo-text__title Комплексный сервис
  .seo-text__descr
    p Компания «ЭКОЛОМ» — ваш надежный партнер по переработке металлолома в Санкт-Петербурге. Мы стремимся к экологической ответственности, предлагая выгодные условия и профессиональный сервис на всех этапах работы. Гарантируем честность, прозрачность и высокие цены на металлолом!
    p Помимо переработки лома, наша компания предлагает комплексные услуги, включая оценку состава металлов, вывоз и демонтаж. Мы осуществляем демонтаж любой сложности – от кораблей и зданий до железнодорожных составов и путей. Наши опытные специалисты и собственный автопарк обеспечивают оперативность и надежность в выполнении задач.
    p Вместе с компанией «ЭКОЛОМ» вы получаете не только надежного партнера по переработке металлолома, но и комплексный сервис высочайшего уровня. Мы с удовольствием берем на себя все этапы работы — от приёмки до вывоза и демонтажа.