section.top-banner
  .top-banner__img
    img(src="./dist/img/content/top-banner.png", alt="Эколом")
  .top-banner__descr.container
    h1.h1.top-banner__title Приём лома чёрных и цветных металлов 
      span в Санкт-Петербурге
    .top-banner__buttons
      a(href="javascript:void(0)").btn.btn--transparent Цены на сегодня
      a(href="javascript:void(0)").btn.btn--transparent Как сдать металл
      a(href="javascript:void(0)").btn.btn--transparent Отзывы
      a(href="javascript:void(0)").btn.btn--transparent Акции
    button.btn.btn--orange.jsOpenModal Оставить заявку

    .circle.jsOpenModal
      include ../../../dist/img/icons/video.svg
      .play
        include ../../../dist/img/icons/play.svg