// Paths
$pathToImg = "../img/"
$pathToDevImg = "../../src/img/"
$pathToFonts = "../../src/fonts/"

// Fonts
$mainFont = "Open Sans", sans-serif;

// Sizes
$widthContent = 1319px

// Animation
$fast = .3s ease-in-out all
$middle = .5s ease-in-out all

// Colors
$orange = #F95707
$orangeBg = #FFF7F3
$black = #1f1f1f
$gray = #4C4C4C
$green = #105720
$greenBg = #F3F7F4
$border = #E8E8E8